services:
  # Backend
  - type: web
    name: tasks-json-server
    runtime: node
    plan: free
    buildCommand: npm install
    startCommand: npx json-server --watch db.json --port 3000 --host 0.0.0.0
    autoDeploy: true

  # Frontend
  - type: web
    name: tasks-angular-frontend
    runtime: static
    buildCommand: npm install && npm run build -- --configuration production
    staticPublishPath: ./dist/coure-assessment/browser
    autoDeploy: true
