services:
  # Backend
  - type: web
    name: tasks-json-server
    runtime: node
    plan: free
    buildCommand: npm install
    startCommand: npx json-server --watch db.json --port $PORT --host 0.0.0.0
    autoDeploy: true

  # Frontend
  - type: web
    name: tasks-angular-frontend
    runtime: static
    rootDir: ./frontend
    buildCommand: npm install && npm run build -- --configuration production
    staticPublishPath: ./dist/coure-assessment/browser
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    autoDeploy: true
